<a href="https://colab.research.google.com/github/Plashka320/Stat_prack_HW_VyuzhaninPD_2025/blob/main/1HW_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/drive/1Nx_klyuwQfMlq_v3woczmeeI3ZKiSdvY?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

## Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

bar [3, 1, 'foo']

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

#### Slicing
In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

#### Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

#### List comprehensions

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: cat
#3: fish

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t), d[t], d[(1, 2)])

<class 'tuple'> 5 1

In [ ]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

## Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

### $\lambda$-functions

In [ ]:
f = lambda x, y: x+y-x*y
f(10, 12)

-98

## Classes

### Task: Course Management System for Students

#### Description

Develop a system to manage course enrollments for students at a university. This system should allow students to enroll in courses, drop courses, and list currently enrolled courses. Additionally, the system should enable the management of course information and track the history of student enrollments and course completions.

#### Tasks

1. **`Course` Class**:
   - Attributes: course name, course code, maximum students, list of enrolled students.
   - Methods: constructor, method to add a student to the course, method to remove a student from the course, method to display course info.

2. **`Student` Class**:
   - Attributes: student name, student ID, list of enrolled courses.
   - Methods: constructor, methods for enrolling in a course, dropping a course, listing currently enrolled courses.

3. **`EnrollmentSystem` Class**:
   - Attributes: list of courses, list of students, enrollment history (which student enrolled in/dropped which course and when).
   - Methods: constructor, methods for adding and removing courses, registering and deregistering students, methods for enrolling and dropping courses for students, method to display enrollment history.

#### Assignment

1. Implement the `Course`, `Student`, and `EnrollmentSystem` classes with the specified attributes and methods.
2. Create several courses and students, and add them to the enrollment system.
3. Implement scenarios for students enrolling in and dropping courses.
4. Display the enrollment history to show the sequence of enrollments and course completions.

This task focuses on object-oriented programming principles, encouraging the practice of managing relationships between objects (courses and students) within a larger system (the enrollment system).

### Solution

In [ ]:
class Course:
    def __init__(self, name, code, max_students):
        self.name = name
        self.code = code
        self.max_students = max_students
        self.enrolled_students = []
        print(f"Course {name} created")

    def add_student(self, student):
        if len(self.enrolled_students) < self.max_students and student not in self.enrolled_students:
            self.enrolled_students.append(student)
            print(f"{student.name} enrolled in {self.name}")
            return True
        print(f"Enrollment failed. Student limit reached for {self.name}")
        return False

    def remove_student(self, student):
        if student in self.enrolled_students:
            self.enrolled_students.remove(student)
            print(f"{student.name} dropped {self.name}")
            return True
        print(f"Drop failed. {student.name} is not enrolled in {self.name}")
        return False

    def display_info(self):
        return f"{self.name} ({self.code}) - Max Students: {self.max_students}, Enrolled: {len(self.enrolled_students)}"

class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id
        self.enrolled_courses = []
        print(f"Student {name} created")

    def enroll(self, course):
        if course.add_student(self):
            self.enrolled_courses.append(course)
            return True
        return False

    def drop(self, course):
        if course.remove_student(self):
            self.enrolled_courses.remove(course)
            return True
        return False

    def list_courses(self):
        return [course.display_info() for course in self.enrolled_courses]

class EnrollmentSystem:
    def __init__(self):
        self.courses = []
        self.students = []
        self.enrollment_history = []
        print("Enrollment system created")

    def add_course(self, course):
        self.courses.append(course)

    def remove_course(self, course):
        if course in self.courses:
            self.courses.remove(course)

    def register_student(self, student):
        self.students.append(student)

    def deregister_student(self, student):
        if student in self.students:
            self.students.remove(student)

    def enroll_student(self, student, course):
        if student.enroll(course):
            self.enrollment_history.append(f"{student.name} enrolled in {course.name}")
            return True
        return False

    def drop_student(self, student, course):
        if student.drop(course):
            self.enrollment_history.append(f"{student.name} dropped {course.name}")
            return True
        return False

    def display_enrollment_history(self):
        for record in self.enrollment_history:
            print(record)

# Example usage
system = EnrollmentSystem()

# Creating courses
course1 = Course("Introduction to Python", "CS101", 30)
system.add_course(course1)

# Registering students
student1 = Student("Alice Johnson", "S1001")
system.register_student(student1)

# Enrolling in courses
system.enroll_student(student1, course1)

# Dropping courses
system.drop_student(student1, course1)

# Displaying enrollment history
system.display_enrollment_history()

Enrollment system created
Course Introduction to Python created
Student Alice Johnson created
Alice Johnson enrolled in Introduction to Python
Alice Johnson dropped Introduction to Python
Alice Johnson enrolled in Introduction to Python
Alice Johnson dropped Introduction to Python

In [ ]:
# Test adding a student to a course
course_python = Course("Python Basics", "PY101", 2)
student1 = Student("John Doe", "001")
student2 = Student("Jane Doe", "002")
assert course_python.add_student(student1) == True, "Student 1 should be added successfully."
assert course_python.add_student(student2) == True, "Student 2 should be added successfully."
# Try to add a third student to a full course
student3 = Student("Jim Beam", "003")
assert course_python.add_student(student3) == False, "Should not add a student to a full course."

# Test removing a student from a course
assert course_python.remove_student(student1) == True, "Student 1 should be removed successfully."
assert course_python.remove_student(student3) == False, "Attempting to remove a non-enrolled student should fail."

# Test displaying course info
print(course_python.display_info())  # Manual check for correct display info

Course Python Basics created
Student John Doe created
Student Jane Doe created
John Doe enrolled in Python Basics
Jane Doe enrolled in Python Basics
Student Jim Beam created
Enrollment failed. Student limit reached for Python Basics
John Doe dropped Python Basics
Drop failed. Jim Beam is not enrolled in Python Basics
Python Basics (PY101) - Max Students: 2, Enrolled: 1

# Homework

## Problem 1

Make a tuple containing natural numbers, the square of which is a multiple of 3, 4, but not a multiple of 8 and not exceeding 12345.

In [ ]:
# Your solution here

## Problem 2


Write a function that takes a two-dimensional array and a string as input and returns an array rotated 90 degrees counterclockwise if the string 'left' was passed, and clockwise if the string 'right' was passed.

Example for input: $\begin{bmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9 \end{bmatrix}$.\
If the string 'left' is passed, the function should return $\begin{bmatrix} 3 & 6 & 9 \\ 2 & 5 & 8 \\ 1 & 4 & 7 \end{bmatrix}$, and if the string 'right' is passed, the function should return $\begin{bmatrix} 7 & 4 & 1 \\ 8 & 5 & 2 \\ 9 & 6 & 3 \end{bmatrix}$.

In [ ]:
# Your solution here

## Problem 3

Write a function that takes a string as input and returns a dictionary containing the number of occurrences of each character in the string.

Example for the string 'hello, world!': {'h': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1, '!': 1}.

In [ ]:
# Your solution here

## Problem 4

### Implementing a Library Management System

#### Description

You are required to design and implement a system for managing books and users in a library. The system should allow for the management of books (adding, deleting, searching by various criteria) and users (registration, deletion, searching), as well as tracking the history of interactions between them (issuing and returning books).

#### Tasks

1. **`Book` Class**:
   - Attributes: title, author, year of publication, ISBN, number of copies.
   - Methods: constructor, methods to get information about the book, method to change the number of copies (when issuing and returning books).

2. **`User` Class**:
   - Attributes: user name, library card number, list of borrowed books.
   - Methods: constructor, methods for user registration, methods for adding and removing books from the borrowed list.

3. **`Library` Class**:
   - Attributes: list of books, list of users, transaction history (who, when, which book was borrowed and returned).
   - Methods: constructor, methods for adding and deleting books and users, methods for issuing and returning books, searching for books and users by various criteria, method to display the transaction history.

#### Assignment

1. Implement the `Book`, `User`, and `Library` classes with the specified attributes and methods.
2. Create several books and users, and add them to the library system.
3. Implement scenarios for issuing books to users and their return.
4. Display the transaction history to show how books were issued and returned.

In [ ]:
# Your solution here

## Problem 5*

Explain why list `b` changes after the execution of the following code:

```python
a = [1, 2, 3]
b = a
a[0] = 4
print(b)
```

> Write your answer in markdown cell after:

## Problem 6*

Let
$$A = \sum_{i=1}^{10000} \frac{1}{i^2},\quad B=\sum_{i=10000}^{1} \frac{1}{i^2}.$$
Calculate the values of $A$ and $B$ and compare them. What do you observe? Explain why this happens. What is the best way to calculate the value of $\sum\limits_{i=1}^{10000} \dfrac{1}{i^2}$?

In [ ]:
# Your solution here